doctype html
html
  head
    meta(charset='utf-8')
    script(src='/session.js')
    script.
      sess('#{session.mb_email}');
  body
    ul
      -each data in list
        li= data.title
        
    div= session.mb_email
    div= session.mb_id
